################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs
/src/packages
/src/VisitingStolac.API/bin/Debug/netcoreapp2.2
/src/VisitingStolac.API/obj
/src/VisitingStolac.API/Properties/launchSettings.json

/src/VisitingStolac.BLL.Abstractions/bin/Debug/netstandard2.0
/src/VisitingStolac.BLL.Abstractions/obj
/src/VisitingStolac.BLL.EF/bin/Debug/netstandard2.0
/src/VisitingStolac.BLL.EF/obj

/src/VisitingStolac.BLL.EF.Test/obj
/src/VisitingStolac.BLL.EF.Test/obj/Debug/netcoreapp2.1
/src/VisitingStolac.BLL.EF.Test/bin/Debug/netcoreapp2.2
/src/VisitingStolac.BLL.EF.Test/bin/Debug/netcoreapp2.1


/src/VisitingStolac.BLL.Mock/bin/Debug/netstandard2.0
/src/VisitingStolac.BLL.Mock/obj

/src/VisitingStolac.Common/bin/Debug/netstandard2.0
/src/VisitingStolac.Common/obj

/src/VisitingStolac.Common.Tests/obj
/src/VisitingStolac.Common.Tests/bin/Debug/netcoreapp2.2

/src/VisitingStolac.DAL/obj
/src/VisitingStolac.DAL/obj/Debug/netcoreapp2.1
/src/VisitingStolac.DAL/bin/Debug/netstandard2.0
/src/VisitingStolac.DAL/bin/Debug/netcoreapp2.1

/src/VisitingStolac.DAL.Migrations/obj
/src/VisitingStolac.DAL.Migrations/bin/Debug/netstandard2.0
/src/VisitingStolac.DAL.Migrations/bin/Debug/netcoreapp2.2

/src/VisitingStolac.DAL.Test/obj
/src/VisitingStolac.DAL.Test/obj/Debug/netcoreapp2.1
/src/VisitingStolac.DAL.Test/bin/Debug/netcoreapp2.2
/src/VisitingStolac.DAL.Test/bin/Debug/netcoreapp2.1

/src/VisitingStolac.Web/bin/Debug/netcoreapp2.2
/src/VisitingStolac.Web/obj

/src/VisitingStolac.BLL.EF.Tests/bin/Debug/netcoreapp2.1
/src/VisitingStolac.Common.Tests/bin/Debug/netcoreapp2.1
